<h1><%= playlist.playlist_title %></h1>

<tr>
<!-- do a loop to show the following for each playlist: -->
  <td><%= playlist.song_position %></td>&nbsp;
  <td><%= playlist.song_title %></td>&nbsp;
<!--   create link to remove song from list
  allow song position to be adjusted
 --></tr>
<% end %>
